$color__background: #1a1a1a;
$color__white: #ddd;
$color__pink: #e5034f;
$color__gray: #343434;

$margin-padding__container: 20px;

$size__width-default: 1024px;
$size__nav-icon: 24px;

* {
	margin: 0;
	padding: 0;
	color: $color__white;
	text-decoration: none;
	box-sizing: border-box;
	outline: none
}

body {
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-size: 24px;
	background: $color__background
}

header {
	position: fixed;
	width: 100%;
	background: rgba($color__background, .5);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	input[type=checkbox] {
		display: none;

		&:checked  {
			& + nav {
				background: $color__background;

				label {
					span:before {
						transform: translateY(.15em) rotate(45deg)
					}

					span:after {
						transform: translateY(-.15em) rotate(-45deg)
					}
				}

				ul {
					display: inherit
				}
			}
		}
	}

	nav {
		position: relative;
		text-align: center;
		transition: background-color .2s ease-in-out;

		& > a {
			margin: 0 auto;
			padding: .5em 0;
			line-height: 1;
			display: inline-block
		}
	}

	label {
		top: 0;
		left: .5em;
		position: absolute;
		padding: .5em;
		width: $size__nav-icon;
		height: 1em;
		transition: transform .2s ease-in-out;
		box-sizing: content-box;

		span {
			position: relative;
			width: 100%;
			height: 100%;
			display: block;

			&:before, &:after {
				left: 0;
				position: absolute;
				width: 100%;
				height: 2px;
				background: $color__white;
				content: "";
				transition: all .2s ease-in-out
			}

			&:before {
				top: 30%;
				transform-origin: 50% 30%
			}

			&:after {
				top: 60%;
				transform-origin: 50% 60%
			}
		}
	}

	ul {
		padding-top: 1em;
		height: 100vh;
		text-align: right;
		list-style: none;
		display: none;

		a {
			padding: .3em 50% .3em 0;
			position: relative;
			width: 50%;
			box-sizing: content-box;
			display: block;

			&:after {
				top: 0;
				padding-left: .5em;
				position: absolute;
				width: 12px;
				height: 100%;
				content: "";
				background: url('/images/plus.svg') no-repeat center center;
			}
		}
	}

	/*margin-bottom: 2em;
	padding: .5em 0;
	position: fixed;
	width: 100%;
	background: rgba($color__background, .5);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);

	nav {
		margin: 0 auto;
		max-width: $size__width-default;
		font-size: .875em;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none
	}

	ul {
		float: right;
		list-style: none;
		display: flex;
	}

	li {
		padding: 0 1em;

		a {
			position: relative;

			&:hover:after {
				background-image: url('/images/plus_active.svg');
				transform: scale(1.2)
			}

			&:after {
				padding-left: .5em;
				position: absolute;
				width: 12px;
				height: 100%;
				content: "";
				background: url('/images/plus.svg') no-repeat center center;
				transition: transform .1s ease-in-out
			}
		}
	}*/
}

main {
	margin: 0 auto;
	padding: 3em 0 2em 0;
	max-width: $size__width-default;

	figure img {
		margin: 1em 0 .4em 0;
		width: 100%;
		max-width: $size__width-default
	}

	figcaption {
		margin: 0 1em;
		font-size: .6em
	}
}

#work-checkbox:checked {
	& ~ #work-div {
		display: inherit
	}

	& ~ #work-checkbox-label svg {
		transform: rotate(45deg)
	}
}

#about-checkbox:checked {
	& ~ #about-div {
		display: inherit
	}

	& ~ #about-checkbox-label svg {
		transform: rotate(45deg)
	}
}

#contact-checkbox:checked {
	& ~ #contact-div {
		display: inherit
	}

	& ~ #contact-checkbox-label svg {
		transform: rotate(45deg)
	}
}

@media (min-width: 1025px) {
	main {
		figcaption {
			margin: 0
		}
	}
}
